In [19]:
import pandas as pd
from math import sin, cos, sqrt, atan2, radians

In [16]:
joined = pd.read_csv("Resources/joined.csv")
camps = pd.read_csv("Resources/southwest_camp_data.csv")
mountains = pd.read_csv("Resources/14ers_data.csv", encoding = "ISO-8859â€“1")

In [76]:
camp = camps[["Long","Lat", "name", "type","phone", "dates", "# sites", "Elevation","State"]]
co_camp = camp[camp["State"] == "CO"]
co_example = co_camp.head()

In [77]:
display(joined.head())
display(co_example)
display(mountains.head())

,Range,Trailhead,Road Type,14er 1,14er 2,14er 3,14er 4,14er 5
0,Elk,Maroon Lake,paved,Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
1,Elk,Conundrum Creek,"2WD, easy dirt road",Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
2,Front,Grays Peak,"2WD, rough dirt road",Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
3,Elk,Capitol Creek,Easy 4WD,Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
4,Elk,Castle Creek,Moderate 4WD,Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN

,Long,Lat,name,type,phone,dates,# sites,Elevation,State
259,-106.345,37.379,Alamosa,NF,719.274.8971/719-852-5941,,10,8665,CO
260,-106.858,38.654,Almont,NF,970.641.0471/970.874.6600,mid may-mid sep,10,8018,CO
261,-105.562,38.080,Alvarado,NF,719.269.8500/719.545.8737,early jun-mid oct,50,8986,CO
262,-107.665,38.019,Amphitheater,NF,970.240.5300/970.874.6600,mid jun-late sep,35,8320,CO
263,-106.221,38.583,Angel of Shavano,NF,719.539.3591/719.545.8737,,20,9180,CO

,ID,Mountain Peak,Mountain Range,Elevation_ft,fourteener,Prominence_ft,Isolation_mi,Lat,Long,Standard Route,Distance_mi,Elevation Gain_ft,Difficulty,Traffic Low,Traffic High,photo
0,1,Mount Elbert,Sawatch Range,14440,Y,9093,670.00,39.1178,-106.4454,Northeast Ridge,9.50,4700,Class 1,20000,25000,https://www.14ers.com/photos/mtelbert/peakphot...
1,2,Mount Massive,Sawatch Range,14428,Y,1961,5.06,39.1875,-106.4757,East Slopes,14.50,4500,Class 2,7000,10000,https://www.14ers.com/photos/mtmassive/peakpho...
2,3,Mount Harvard,Sawatch Range,14421,Y,2360,14.93,38.9244,-106.3207,South Slopes,14.00,4600,Class 2,5000,7000,https://www.14ers.com/photos/harvardgroup/peak...
3,4,Blanca Peak,Sangre de Cristo Range,14351,Y,5326,103.40,37.5775,-105.4856,Northwest Ridge,17.00,6500,Hard Class 2,1000,3000,https://www.14ers.com/photos/blancagroup/peakp...
4,5,La Plata Peak,Sawatch Range,14343,Y,1836,6.28,39.0294,-106.4729,Northwest Ridge,9.25,4500,Class 2,5000,7000,https://www.14ers.com/photos/laplatapeak/peakp...

In [78]:
co_example["Lat"]
mountains["Lat"][0]

39.1178

In [79]:
distance_list = []
for k,l,m in zip(mountains["Mountain Peak"],mountains["Lat"],mountains["Long"]):
    lat1 = radians(l)
    lon1 = radians(m)
    for i, j in zip(co_example["Lat"],co_example["Long"]):
        lat2 = radians(i)
        lon2 = radians(j)
    R = 3958.8
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = (R * c)
    if distance <= 60:
        distance_list.append(k)
        distance_list.append(distance)
print(distance_list)

['Mount Elbert', 38.874336777468244, 'Mount Massive', 43.956338771467, 'Mount Harvard', 24.19270688906666, 'La Plata Peak', 33.69393383230188, 'Crestone Peak', 54.77510788210562, 'Mount Lincoln', 53.42305068356225, 'Castle Peak', 45.37030282836776, 'Mount Antero', 6.439765030278937, 'Quandary Peak', 56.59890939415596, 'Mount Shavano', 2.689328108055352, 'Mount Princeton', 11.541327105635709, 'Mount Belford', 27.160216846797788, 'Crestone Needle', 55.19807684069711, 'Mount Yale', 18.7280234767591, 'Mount Bross', 52.34155998400963, 'Kit Carson Mountain', 53.50250137416695, 'Maroon Peak', 53.33732515993836, 'Tabeguache Peak', 3.3510447325362964, 'Mount Oxford (Colorado)', 27.132580020843186, 'Mount Democrat', 52.457403095747374, 'Snowmass Mountain', 58.65425026288667, 'Challenger Point', 53.32889997713457, 'Mount Columbia', 22.552305014966105, 'Missouri Mountain', 26.582303277293384, 'Humboldt Peak', 55.33405205232198, 'Mount Sherman', 44.44341861995236, 'Pyramid Peak', 51.77584785328311, 'San Luis Peak', 56.39951963647929, 'Huron Peak', 27.642938191412252, 'Mt. Cameron', 53.08564145705006, 'Conundrum Peak', 45.693779567926526, 'North Maroon Peak', 53.48359448100317]