In [19]:
import pandas as pd
from math import sin, cos, sqrt, atan2, radians

In [16]:
joined = pd.read_csv("Resources/joined.csv")
camps = pd.read_csv("Resources/southwest_camp_data.csv")
mountains = pd.read_csv("Resources/14ers_data.csv", encoding = "ISO-8859â€“1")

In [88]:
camp = camps[["Long","Lat", "name", "type","phone", "dates", "# sites", "Elevation","State"]]
co_camp = camp[camp["State"] == "CO"]
co_example = co_camp

In [89]:
display(joined.head())
display(co_example)
display(mountains.head())

,Range,Trailhead,Road Type,14er 1,14er 2,14er 3,14er 4,14er 5
0,Elk,Maroon Lake,paved,Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
1,Elk,Conundrum Creek,"2WD, easy dirt road",Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
2,Front,Grays Peak,"2WD, rough dirt road",Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
3,Elk,Capitol Creek,Easy 4WD,Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
4,Elk,Castle Creek,Moderate 4WD,Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN

,Long,Lat,name,type,phone,dates,# sites,Elevation,State
259,-106.345,37.379,Alamosa,NF,719.274.8971/719-852-5941,,10,8665,CO
260,-106.858,38.654,Almont,NF,970.641.0471/970.874.6600,mid may-mid sep,10,8018,CO
261,-105.562,38.080,Alvarado,NF,719.269.8500/719.545.8737,early jun-mid oct,50,8986,CO
262,-107.665,38.019,Amphitheater,NF,970.240.5300/970.874.6600,mid jun-late sep,35,8320,CO
263,-106.221,38.583,Angel of Shavano,NF,719.539.3591/719.545.8737,,20,9180,CO
...,...,...,...,...,...,...,...,...,...
761,-108.055,37.885,Woods Lake,NF,970.327.4261/970.874.6600,mid may-mid oct,41,9455,CO
762,-107.287,37.973,Wupperman,CP,970.944.2319,,,9018,CO
763,-104.940,38.737,Wye,NF,719.636.1602/719.545.8737,mid may-mid sep,21,9790,CO
764,-106.678,39.502,Yeoman Park,NF,970.328.6388/970.945.2521,,24,9081,CO
765,-104.833,37.601,Yucca - Lathrop State Park,SP,719.738.2376,early may-mid oct,21,6404,CO

,ID,Mountain Peak,Mountain Range,Elevation_ft,fourteener,Prominence_ft,Isolation_mi,Lat,Long,Standard Route,Distance_mi,Elevation Gain_ft,Difficulty,Traffic Low,Traffic High,photo
0,1,Mount Elbert,Sawatch Range,14440,Y,9093,670.00,39.1178,-106.4454,Northeast Ridge,9.50,4700,Class 1,20000,25000,https://www.14ers.com/photos/mtelbert/peakphot...
1,2,Mount Massive,Sawatch Range,14428,Y,1961,5.06,39.1875,-106.4757,East Slopes,14.50,4500,Class 2,7000,10000,https://www.14ers.com/photos/mtmassive/peakpho...
2,3,Mount Harvard,Sawatch Range,14421,Y,2360,14.93,38.9244,-106.3207,South Slopes,14.00,4600,Class 2,5000,7000,https://www.14ers.com/photos/harvardgroup/peak...
3,4,Blanca Peak,Sangre de Cristo Range,14351,Y,5326,103.40,37.5775,-105.4856,Northwest Ridge,17.00,6500,Hard Class 2,1000,3000,https://www.14ers.com/photos/blancagroup/peakp...
4,5,La Plata Peak,Sawatch Range,14343,Y,1836,6.28,39.0294,-106.4729,Northwest Ridge,9.25,4500,Class 2,5000,7000,https://www.14ers.com/photos/laplatapeak/peakp...

In [90]:
distance_list = []
mountain_list = []
camp_list = []
for l,m,n in zip(mountains["Mountain Peak"],mountains["Lat"],mountains["Long"]):
    lat1 = radians(m)
    lon1 = radians(n)
    for i, j, k in zip(co_example["Lat"],co_example["Long"], co_example["name"]):
        lat2 = radians(i)
        lon2 = radians(j)
        camp_name = k
        R = 3958.8
        dlon = lon2 - lon1
        dlat = lat2 - lat1
        a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
        c = 2 * atan2(sqrt(a), sqrt(1 - a))
        distance = (R * c)
        if distance <= 60:
            mountain_list.append(l)
            distance_list.append(distance)
            camp_list.append(camp_name)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [96]:
distance_df = pd.DataFrame({
    "Mountains": mountain_list,
    "Distance from Campsite (miles)" : distance_list,
    "name": camp_list})
distance_df

              Mountains  Distance from Campsite (miles)              name
0          Mount Elbert                       38.978915            Almont
1          Mount Elbert                       38.874337  Angel of Shavano
2          Mount Elbert                       38.584794             Aspen
3          Mount Elbert                       41.444401         Avalanche
4          Mount Elbert                       11.667981          Baby Doe
...                 ...                             ...               ...
6625  North Maroon Peak                       45.648843       Weston Pass
6626  North Maroon Peak                       49.279521         White Owl
6627  North Maroon Peak                       33.269649        White Star
6628  North Maroon Peak                       46.203271           Wolcott
6629  North Maroon Peak                       33.756223       Yeoman Park

[6630 rows x 3 columns]

In [98]:
#This process created 6630 instances of campgrounds within 60 miles of the 14ers in CO, below is the counts of how many each has, unless I did everything wrong.
distance_df.groupby("Mountains").count()

                         Distance from Campsite (miles)  name
Mountains
Blanca Peak                                          37    37
Capitol Peak                                        132   132
Castle Peak                                         133   133
Challenger Point                                     46    46
Conundrum Peak                                      133   133
Crestone Needle                                      44    44
Crestone Peak                                        45    45
Culebra Peak                                         15    15
El Diente Peak                                       79    79
Ellingwood Point                                     38    38
Grays Peak                                          161   161
Handies Peak                                        101   101
Humboldt Peak                                        43    43
Huron Peak                                          136   136
Kit Carson Mountain                                  46    46
La Plata Peak                                       145   145
Little Bear Peak                                     37    37
Longs Peak                                          127   127
Maroon Peak                                         135   135
Missouri Mountain                                   139   139
Mount Antero                                        124   124
Mount Belford                                       142   142
Mount Bierstadt                                     160   160
Mount Bross                                         178   178
Mount Columbia                                      139   139
Mount Democrat                                      179   179
Mount Elbert                                        150   150
Mount Eolus                                          92    92
Mount Evans                                         159   159
Mount Harvard                                       141   141
Mount Lincoln                                       179   179
Mount Lindsey                                        36    36
Mount Massive                                       152   152
Mount Oxford (Colorado)                             142   142
Mount Princeton                                     135   135
Mount Shavano                                       117   117
Mount Sherman                                       171   171
Mount Sneffels                                       88    88
Mount Wilson                                         79    79
Mount Yale                                          135   135
Mount of the Holy Cross                             160   160
Mt. Cameron                                         178   178
North Eolus                                          92    92
North Maroon Peak                                   135   135
Pikes Peak                                           73    73
Pyramid Peak                                        134   134
Quandary Peak                                       180   180
Redcloud Peak                                       101   101
San Luis Peak                                       118   118
Snowmass Mountain                                   134   134
Sunlight Peak                                        91    91
Sunshine Peak                                       102   102
Tabeguache Peak                                     120   120
Torreys Peak                                        164   164
Uncompahgre Peak                                    105   105
Wetterhorn Peak                                     100   100
Wilson Peak                                          82    82
Windom Peak                                          91    91